
<h2>List of Purchase Orders</h2>

<div style="margin-bottom: 10px;">
  <button type="button" [routerLink]="['/create']">Create</button>
</div>

@if (purchaseOrders$ | async; as pos) {
  @if (pos.length > 0) {
    <table border="1">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Delivery Date</th>
          <th>Total ($)</th>
        </tr>
      </thead>
      <tbody>
        @for (po of pos; track i; let i = $index) {
          <tr>
            <td> <code (click)="showPurchaseOrder(po.poId)">{{ po.poId }}</code> </td>
            <td> {{ po.name }} </td>
            <td> {{ po.deliveryDate | date }} </td>
            <td> {{ po.total | currency }}</td>
            <td>
              <button type="submit" (click)="deletePurchaseOrder(po.poId)">X</button>
            </td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td>Total</td>
          <td>{{ total | currency }}</td>
        </tr>
      </tfoot>
    </table>
  } @else {
    <h2>No purchase orders</h2>
  }
} @else {
    <h2>Loading...</h2>
}

@if (purchaseOrder$ | async ; as po) {
<pre>
<code> {{ po | json }}</code>
</pre>
}


